<!DOCTYPE html>
<html>
<head>
  <title>RailsAngular</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.angularjs.org/1.1.4/angular-resource.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
